body {
  background-color: #00224D;
  color: beige;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
background-color: cyan;
color: rgb(0, 0, 0);

}
.btn:hover{
  /* transform: scale(1.1); */
  transform: rotate(360deg);
  transition: 1s;
  
}